.li-container{
  text-align: center;
  line-height: 1em;
  margin: 12px;
}
  
li {
  margin-top: 10px;
  margin-left: 10px;
  list-style: none;
  display: inline-block;
}

div {
  text-align: center;
}

.container-fluid {
  display: inline-block;
  margin-top: 10px;
  list-style: none;
}

.container-fluid, a {
 padding-right: 15px;
 margin-left: 5px;
}

#inputs-list {
  width: calc(100%/4);
  display:inline-flex;
  margin-right:10px;
}

#outputs-list {
  width: calc(100%/4);
  display:inline-flex;
  margin-right:10px;
}

.inputs-list {
  width:100%;
  text-align:center;
  margin: 0 100px;
  padding: 0;
}

.outputs-list {
  width:100%;
  text-align:center;
  margin: 0 100px;
  padding: 0;
}