.PortalReport {
  text-align: center;
  overflow: hidden;
}

.PortalReport-header {
  background-color: #B1C7D7;
  height: 150px;
  padding: 20px;
  color: white;
}

.PortalReport-title {
  font-size: 1.5em;
}
